@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* מונע גלילה אופקית לא רצויה */
  overflow-x: hidden; 
}

/* הוספת עומק תלת-ממדי שחסר ב-Tailwind רגיל */
.perspective-1000 {
  perspective: 1000px;
}

/* העלמת פס הגלילה (Scrollbar) למראה אפליקטיבי נקי */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* הגדרת אלמנטים לחיצים עבור הסמן החכם */
.clickable {
  cursor: none; /* הסתרת סמן רגיל */
}

/* טקסט שלא ניתן לבחירה (משפר תחושת אפליקציה) */
.no-select {
  user-select: none;
}